<form class="text-left was-validated form-validate" method="POST"

    >
    {% csrf_token %}

    <div class="modal-body">
        <div class="form-row">
            {% include 'includes/bs4_form.html' with form=form col=6 include='' exclude='' start_tabindex="0" hidden=list_hidden %}
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Guardar</button>
    </div>

</form>