<h4 class="form-section"><i class="ft-align-justify"></i>REQUISITOS</h4>

<div class=" row">
    
    <div class="alert bg-dark alert-icon-left mb-2" role="alert">
        <p>1.- Copia simple del documento de identificación del solicitante
            (Carné
            de extranjería o Pasaporte), según corresponda.
            Adicionalmente según sea el <strong>caso se adjunta</strong>:</p>
        <ul>
            <li>a) Cónyuge: Copia simple de su partida de matrimonio.
            </li>
            <li>b) Familiar consanguíneo de hasta el tercer grado: Copia simple
                de la partida de nacimiento u otro documento que acredite
                grado de parentesco.
            </li>
            <li>c) Cuando no es familiar consanguíneo de hasta el tercer grado:
                Declaración jurada que acredite que no ha sido posible que
                un familiar consanguíneo haya tramitado la autorización
                sanitaria.
            </li>
            <li>d) Representante del consulado: Copia del documento que acredite
                su representación.
            </li>
        </ul>
    </div>


    <div class="alert bg-dark alert-icon-left mb-2" role="alert">
        <p>2.- Según sea el caso se adjunta para: </p>
        <ul>
            <li><strong>a) Muerte Natural </strong>
                <ul>
                    <li> Copia simple del Certificado de Defunción</li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><strong>b) Muerte Súbita o Violenta</strong>
                <ul>
                    <li> Copia simple del Certificado de Necropsia de Ley,
                        expedida por el Médico Legista o Médico del
                        Establecimiento de Salud
                        autorizado, y <u>según sea el caso</u> copia simple del
                        certificado de la Autorización Judicial o Fiscal
                        Provincial.
                    </li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><strong>c) Muerte mayor a las 48 horas o más</strong>
                <ul>
                    <li> Copia simple del Acta de Defunción, expedida por la
                        RENIEC o Municipalidad correspondiente
                    </li>
                    <li> Copia simple del Certificado de Embalsamamiento o
                        Formolización, suscrito por un Médico.
                    </li>
                </ul>
            </li>
        </ul>
    </div>

    <div class="alert bg-dark alert-icon-left mb-2" role="alert">
        <p>3.- De corresponder, adjuntar carta poder simple firmada por el
            poderdante (consignando: nombres, apellidos y número de
            documento de identidad)</p>
    </div>

</div>